body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

/* profile card */

span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

hr {
  margin-top: 0;
  border-top: 1px solid lightgrey;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-img {
  width: 65%;
  position: fixed;
  top: -55%;
  left: -20%;
}

.bottom-img {
  width: 80%;
  position: fixed;
  right: -20%;
  bottom: -110%;
}

.profile-card {
  background: white;
  max-width: 350px;
  margin: 15% auto;
  border-radius: 15px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05), 0 6px 30px 0 rgba(0, 0, 0, 0.05);
}

.banner {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.victor {
  position: relative;
  top: -3.5rem;
  display: block;
  margin: auto;
  border: 6px solid white;
  border-radius: 100%;
}

.profile-basic {
  text-align: center;
}

.name-age-city {
  position: relative;
  top: -1.8rem;
  margin-bottom: none;
}

.city {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0;
}

.profile-stats {
  padding: 1rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: 35% 30% 35%;

}

.profile-stats p {
  font-weight: 400;
  font-size: 0.65rem;
  color: hsl(0, 0%, 59%);
  letter-spacing: 0.1rem;
  margin: 0.3rem auto;
}

/* attribution Frontend Mentor */

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile version */

@media screen and (max-width: 375px) {
  .profile-card {
    width: 85%;
    margin: 50% auto;
  }

  .top-img {
    width: 110%;
    position: fixed;
    top: -25%;
    left: -55%;
  }

  .bottom-img {
    width: 110%;
    position: fixed;
    right: -55%;
    bottom: -15%;
  }

}
