body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  overflow: hidden;
}

/* profile card */

span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin-left: 3px;
}

hr {
  margin-top: 0;
  border-top: 1px solid lightgrey;
}

section {
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: -1;
}

.top-img {
  width: 65%;
  position: fixed;
  top: -70%;
  left: -20%;
}

.bottom-img {
  width: 80%;
  position: fixed;
  right: -20%;
  bottom: -115%;
}

.profile-card {
  background: white;
  max-width: 300px;
  margin: 10% auto;
  border-radius: 15px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05), 0 6px 30px 0 rgba(0, 0, 0, 0.05);
}

.banner {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.victor {
  position: relative;
  top: -3.5rem;
  display: block;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 100%;
}

.profile-basic {
  text-align: center;
  margin: none;
}

.name-age-city {
  position: relative;
  top: -2.5rem;
  margin-bottom: none;
}

.city {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0;
}

.profile-stats {
  padding: 1rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: 35% 30% 35%;

}

.profile-stats p {
  font-weight: 400;
  font-size: 0.6rem;
  color: hsl(0, 0%, 59%);
  letter-spacing: 0.1rem;
  margin: 0.3rem auto;
}

/* attribution Frontend Mentor */

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile version */

@media (max-width: 1200px) {
    .profile-card {
    width: 250px;
    margin: 20vh auto;
    }

    .top-img {
      width: 100%;
      position: fixed;
      top: -20%;
      left: -70%;
    }

    .bottom-img {
      width: 100%;
      position: fixed;
      right: -60%;
      bottom: -10%;
    }
}
